{% extends 'base.html' %}

{% block content %}
    <div id="invoice" class="">
        <form method="POST">
            {% csrf_token %}
            <legend>New Invoice</legend>
            <fieldset>
                <label for="client">Client</label>
                <select name="client" id="client">
                    <option value="-">-------</option>
                    {% for client in clients %}
                    <option value={{client.slug}}>{{client.name}}</option>
                    {% endfor %}
                </select>
                <label for="salesman">Salesmen</label>
                <select name="salesman" id="salesman">
                    <option value="-">-------</option>
                    {% for salesman in salesmen %}
                    <option value={{salesman.slug}}>{{salesman.name}}</option>
                    {% endfor %}
                </select>
                <label for="book">Book</label>
                <select name="book" id="book">
                    <option value="-">-------</option>
                    {% for book in books %}
                    <option value={{book.slug}}>{{book.name}}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <input type="submit" name="newInv" id="newInv" value="Add">
        </form>
    </div>
{% endblock %}